.app-container{
    width: 90%;
    margin: 1rem auto;
}

@media(min-width: 992px){
    .app-container{
        width: 65rem;
        margin: 2rem auto;
    }
}

.btn{
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: #666666;
    border: 1px solid #666666;
    border-radius: .3rem;
    color: white;
    transition: all .3s ease-in-out;
    margin: 1rem 0;
}

.btn:is(:hover){
    background-color: #353535;
}

.btn:is(:disabled){
    background-color: #a5a5a5;
    border-color: #a5a5a5;
    color: #666666;
    cursor: not-allowed;
}

p{
    line-height: 250%;
}

.action-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}